html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

html {
    height: 100%;
}

body {
    overflow-y: auto;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    display: block;
    min-height: 100%;
    height: 100%;
    background-image: url("../res/background/bg.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    font-size: 0;
}

@import "el/input";

b {
    font-weight: 400;
}

header {
    text-align: center;
    font-size: 22px;
    height: 400px;
    article {
        padding: 6% 6% 4%;
    }
    button {
        font-size: 22px;
    }
}

main {
    top: 100%;
    position: absolute;
    width: 100%;
    font-size: 0;
}

a:hover {
    cursor: pointer;
    border: none;
}

h2,
h1 {
    font-weight: normal;
}

h1 {
    font-family: 'UnverschaemtSans';
    line-height: 70px;
    margin: 0;
    font-size: 70px;
    color: #505050;
    text-transform: lowercase;
}

h2,
h2 a {
    color: #6c6c6c;
    font-weight: 200;
}

@import "el/section";
@import "el/figure";
@import "el/nav";
@import "el/button";
@import "el/popup";

.border {
    border: 1px solid rgb(200, 200, 200);
}

.unverschaemt {
    font-family: 'UnverschaemtSans';
    font-size: 24px;
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
    margin: 30px 45%;
}

a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

a:hover {
    border-bottom: 2px solid lightgray;
}

.rectangle {
    width: 100%;
    &.rotateY {
        @include transform(rotateY(180deg));
    }
    &.rotate {
        @include transform(rotate(180deg));
    }
}
